<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dr. Joanne Barge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="psychologist los angeles, psychology, los angeles, LA psychologist, LA therapy, marriage therapy la" />

	<!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/narrow/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/narrow/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/narrow/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/narrow/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/narrow/css/owl.theme.default.min.css">

	<link rel="stylesheet" href="../static/narrow/css/style.css">


	<!-- Modernizr JS -->
	<script src="../static/narrow/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/narrow/js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<div class="box-wrap">
	<header role="banner" id="fh5co-header">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="row">
					<div class="col-md-3">
						<div class="fh5co-navbar-brand">
							<!--<a class="fh5co-logo" href="/">Narrow</a>-->
							<a class="fh5co-logo" href="/"><img class="img" src="http://s3-us-west-2.amazonaws.com/drbarge/logo.png" style="max-height: 200px;"></a>
						</div>
					</div>
					<div class="col-md-9 main-nav" style="padding-top: 70px;">
						<ul class="nav text-right">
							<li id="home"><a href="/"><span>Home</span></a></li>
							<li  id="about" ><a href="/about">About</a></li>
							<li  id="services"><a href="/services">Services</a></li>
							<li  id="patient_stories" ><a href="/patient_stories">Patient Stories</a></li>
							<li  id="faqs"><a href="/faqs">FAQS</a></li>
							<li id="contact" ><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!-- END: header -->
	{% block content %}
	{% endblock %}
	<footer>
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<p>
							<b>Dr. Joanne Barge</b><br/>
							A Psychology Corporation<br/>
							11980 San Vincente Blvd, Los Angeles, CA 90049 | 310-820-6300 | info@DrBarge.com
						</p>
						<!--<p class="fh5co-social-icons">-->
						<!--<a href="#"><i class="icon-twitter-with-circle"></i></a>-->
						<!--<a href="#"><i class="icon-facebook-with-circle"></i></a>-->
						<!--<a href="#"><i class="icon-instagram-with-circle"></i></a>-->
						<!--</p>-->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<p>Serving Communities</p>
							</thead>
							<tr>
								<td><p>Los Angeles</p></td>
								<td><p>West Los Angeles 90025</p></td>
								<td><p>Santa Monica</p></td>
							</tr>
							<tr>
								<td><p>Pacific Palisades</p></td>
								<td><p>Malibu</p></td>
								<td><p>Marina Del Rey</p></td>
							</tr>
							<tr>
								<td><p>Culver City</p></td>
								<td><p>Venice CA</p></td>
								<td><p>Beverly Hills 90210</p></td>
							</tr>
							<tr>
								<td><p>El Segundo</p></td>
								<td><p>Westwood 90024</p></td>
								<td><p>BerverlyWood 90034</p></td>
							</tr>
							<tr>
								<td><p>West Hollywood</p></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	</footer>
</div>
<!-- END: box-wrap -->


<!-- jQuery -->
<script src="../static/narrow/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../static/narrow/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../static/narrow/js/bootstrap.min.js"></script>
<!-- Owl carousel -->
<script src="../static/narrow/js/owl.carousel.min.js"></script>
<!-- Waypoints -->
<script src="../static/narrow/js/jquery.waypoints.min.js"></script>
<!-- Parallax Stellar -->
<script src="../static/narrow/js/jquery.stellar.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="../static/narrow/js/google_map.js"></script>
<!-- Main JS (Do not remove) -->
<script src="../static/narrow/js/main.js"></script>
<script>
	$( document ).ready(function() {
		page = window.location.pathname;
		switch(page){
			case "/":
				$("#home").addClass("active");
				break;
			case "/about":
				$("#about").addClass("active");
				break;
			case "/services":
				$("#services").addClass("active");
				break;
			case "/patient_stories":
				$("#patient_stories").addClass("active");
				break;
			case "/faqs":
				$("#faqs").addClass("active");
				break;
			case "/contact":
				$("#contact").addClass("active");
				break;
		}
	});

</script>
</body>
</html>

