{% extends "base.html" %}
{% block content %}
<div id="fh5co-section">
    <div class="container">
        <h3 class="page-header">The Process</h3>
        <h4><b><i>How does psychotherapy work?</i></b></h4>
        <p>
            We talk about your life and the things that are bothering you. Through these discussions you will become aware of how you are psychologically organized, the story you tell yourself about yourself, and the beliefs that you hold. All of this can be changed if you want it to be.

            Interestingly, somehow the very act of knowing something begins to change it. As an example, if you think about relationships with others, as they develop and you learn more about each other, one thing is inherent, the relationship will change. The same is true about getting to know aspects of you. The process will lead to developing a different relationship to your self.
        </p>

        <h4><b><i>
            Why can’t I just talk with a friend?</i></b></h4>
        <p>
            There are three things that are guaranteed with your psychotherapist that cannot be with a friend. The first is confidentiality; this is your legal and ethical right with a licensed psychotherapist.

            The second is the education and experience of the therapist; this brings a knowledge base that most friends will not have.
            The last one which is really important is that your therapist will not have an agenda for you, friends do. An example would be that a therapist does not care if you marry someone, get a divorce, change jobs, or move; they are only interested in what leads to your happiness. Friends and family often want you to do something that (subconsciously) benefits them but may not be best for you.
        </p>

        <h4><b><i>
            How long will it take?</i></b></h4>
        <p>
            It all depends on your history, what you have been through, what you are looking to gain from therapy, and/or what your problems may be. Each client is a unique individual; there is no one answer that fits all.
        </p>


        <br/>
        <h3 class="page-header">Degrees and Licenses</h3>
        <h4><b><i>Ph.D.</i></b></h4>
        <p>
            <u>Psychologist:</u> This is a person who not only has completed a Doctorate of Philosophy in the field of psychology but has also acquired the requisite hours of training to sit for the Boards and having passed, is allowed to practice independently.
        </p>

        <h4><b><i>
            Psy.D.</i></b></h4>
        <p>
            This is a doctor of psychology degree and if a person with it has passed Boards, like above, then he/she is licensed to practice independently.
            Licensed [clinical/counseling] psychologists are able to treat all forms of emotional and mental disorders but they do not prescribe drugs. A Ph.D. differs slightly from a Psy.D. in that it requires more study in research methodology.

            **It is important to note that not all individuals who acquire these degrees are also psychologists. You must be licensed by the Board of Psychology to legally call yourself a Psychologist. You might want to check what the therapist’s license actually is, before starting.
        </p>

        <h4><b><i>
            LMFT</i></b></h4>
        <p>
            (Licensed Marriage Family Therapist): This person holds a Master’s degree in the mental health field and has also obtained the requisite hours to sit for licensure with the Board of Behavioral Sciences. If they pass the exam, then they are allowed to practice independently with problems relating to marriage, family and related mental health issues.
        </p>

        <h4><b><i>
            LCSW</i></b></h4>
        <p>
            (Licensed Clinical Social Worker): A person with a Master’s degree in Social Work who has the requisite hours in clinical training to sit for licensure for the Board of Behavioral Sciences. Once they pass the exam, they are allowed to practice independently with problems relating to mental health.

            *A number of LMFTs and LCSWs have acquired doctorate degrees but are not licensed by the Board of Psychology.
        </p>

        <h4><b><i>
            Psychiatrist</i></b></h4>
        <p>
            A person who has a MD and has gone to medical school. They have done a residency in psychiatry and tend to work with individuals who have severe mental health problems. They are licensed to prescribe drugs when needed.
        </p>

        <h4><b><i>
            LPC</i></b></h4>
        <p>
            (Licensed Professional Counselor): A person who has a Master’s degree and helps people with everyday problems. Not all states license these counselors.
        </p>

        <h4><b><i>
            CADC</i></b></h4>
        <p>
            (Certified Alcohol and Drug Counselor): To date, there has been no licensure; it’s a self governing body of addiction specialists. Study and training hours are required but there is no specific degree. These individuals are not considered psychotherapists.
        </p>

                <h3 class="page-header">Insurance</h3>
        <p>
            Dr. Barge accepts some insurances.  Please call the office to see if she accepts yours.  Dr. Barge has all the credentials required for you to be reimbursed by your insurance company. If she does not take your insurance, she or her assistant will provide you with a Super Bill and help you fill out any necessary forms. Please check with your insurance company beforehand to see what they will cover.

HMO plans only cover their own in house doctors.
        </p>

    </div>
</div>
{% endblock %}
