{% extends "base.html" %}
{% block content %}
<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
	<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/intro.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 float-overlay">
					<h2>Patient Stories</h2>
					<h3>Success stories from previous patients.</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END fh5co-intro-section -->
<div id="fh5co-product-section">
	<div class="container">
		<div class="row">
			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Jacquelyn, 34 <br/></h3>
						<h5>Panic Attacks / Co-Dependency / Anger</h5>

						<p>I was having severe panic attacks. I never knew when they might hit me. Sometimes it was when I was driving and the fear was relentless. I often thought I was dying, having a heart attack, sometimes I could not breathe.

							I took tranquilizers that my doctor gave me after a number of false alarm visits to his office. But I didn’t like the dependency on them.

							When the panic attacks became unbearable, I sought help with Dr. Barge.

							To my surprise, I discovered that I was really angry at my husband, I couldn’t face it or express it because I was deathly afraid of abandonment. My mother had died unexpectedly when I was 10 years old. I had younger siblings and a depressed father to take care of. I guess I became the “Mom”.

							I became accustomed to taking care of others and suppressing my feelings for fear of losing someone I loved. Becoming stronger and more aware in therapy with Dr. Barge, my anger began to come up and out and my panic attacks stopped.

							I had good reason to be angry; my husband drank until he passed out every night. Our sex life was not happening and I felt unloved. When I finally broke free and confronted him, he did not abandon me as I feared. He actually went into treatment for his alcoholism.

							I have become strong, free and confident. I know now that I am loveable and I do not have to take care of others at my own expense. I know my anger, appropriately channeled is normal and okay.

							My husband is sober and my marriage is happier than I ever could have imagined. We are real and authentic with each other, and very, very close. And yes, we now have sex!

							P.S. I haven’t had a panic attack in over 3 years.</p>
					</div>
				</div>
				<!--<div class="col-md-8 animate-box">-->
				<!--<figure>-->
				<!--<a href="#"><img class="img-responsive" src="static/img/product-2.jpg" alt="product"></a>-->
				<!--</figure>-->
				<!--</div>-->
			</div>

			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Joe, 63 <br/></h3>
						<h5>Depression / Retirement

						</h5>

						<p>I had just retired and thought the world was my oyster. I looked forward to free time and travel. But I wasn’t prepared for the day in/day out of little to do. I’d always had a goal or project, one achievement after another.

							Now there were no more goals or even an impending project. My last achievement seemed to be the big “send off” retirement party my company gave me.

							I became depressed. At first it was headaches, then listlessness and apathy and eventually sleeplessness. I started to feel useless; what good was I?

							I was happily married 40 years and I had four great children and adorable grandchildren. But even that started not to matter. In fact, I actually felt I was a burden to them.

							Doctors gave me medication. When I went to Dr. Barge (after medication alone did not help), I wanted to die. I told her that I was thinking of suicide. At least then, I wouldn’t be a burden to my family anymore.

							She must have known what I was about because she said the exact right thing; “you really have lost your mind!”

							I wasn’t at all comfortable with being a person who was losing control. Counseling was exactly what I needed. I went to work on the problem (project) right away!

							I realized I had to find meaning in/to my own life and not look to external achievements to define me.

							I also realized that I had a lot of anger. It came from believing that I had to be all things to all people. I had believed others expected much more from me than they actually did! I was turning all of this anger inward, against myself, especially now that I had “no use” or purpose.

							Through my counseling with Dr. Barge, I learned to identify and deal with my angry feelings. I changed the way that I viewed myself and my reason for being alive.

							The depression is gone and I don’t need medication anymore. There is a lot of love in my life and I am very grateful for what I have. I have started to share it by volunteering to help others. I now feel I have a real purpose in my life.</p>
					</div>
				</div>
			</div>

			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Laurie, 28 <br/></h3>
						<h5>Self-confidence / Image

						</h5>

						<p>When I met Dr. Barge I was an assistant in a field I both loved and was told I was quite talented in. But I had no (self) confidence and others had little confidence in me.

							I’ve come to understand the roots of my fears but more importantly, Dr. Barge taught me how to carry myself, improve my posture and eye contact. We came up with clothes and colors, dark but flattering, to improve my appearance in a basically male dominated field of work. New hair cut, new clothes, posture, a walk and hand shake that conveyed confidence (even when I didn’t always feel it), I began to get the confidence and respect of co-workers/colleagues.

							Today I am no longer an assistant. I own my own firm and have been successful enough to purchase my home (house!) in one of the nicer neighborhoods of Los Angeles.

							My image and inner feelings have completely changed</p>
					</div>
				</div>
			</div>

			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Andy, 23 <br/></h3>
						<h5>Drug Addiction / Sexual Abuse

						</h5>

						<p>
							I guess it is no surprise that I ended up with a drug problem. I grew up lonely and scared. My parents fought constantly. I felt protective of my Mother and hated my Dad. He drank too much, had a mean temper and he was volatile.

							I know that many kids grow up playing video games and glued to the TV. I did it for survival. I wanted to hide, get off and out of my parent’s radar and I really wanted “to go into another world!”

							I started to drink when I was 13. Not every day but we sure had fun on weekends. It wasn’t long before I tried bud (grass, pot, marijuana). It really settled me down and it allowed me to daydream.

							By some stroke of good luck, I did really well in school. It was the only place where I felt I had any control, and despite the weekend partying, my grades stayed up.

							When I hit 18, I decided to get out of dodge! My hope was to go to college but the most important thing was to get away from home. The only regret I have and it’s a big one, was leaving my little sister behind, but I had to leave to survive. Across the coast, three thousand miles away, I felt safe & hopeful for the first time.

							It was not long before things started to catch up with me. All the awful feelings and bad things that had happened just seem to have followed me like my own shadow. As I have now learned, we take ourselves with us.

							All the fear and hurt and anger I felt growing up was just churning inside of me. But it was worse than that because I was carrying a shameful secret that I had told no one.

							When my parents went out to their parties and bars, they left my sister & me with the neighbors next door. What an irony; babysitters! As if, they were ever really paying attention or taking care of us when they were home. Anyway, I am sure you know what I am about to say. Yep, this couple had their way with us and it was not just once. Not only was I molested, I had to watch my little sister being…I cannot even say it.

							These creeps were complete perverts but of course, in an all American & religious disguise. I wanted to kill them but my rage scared me so much that I kept dead quiet. Really, there was no one to tell, no one to turn to. Talk to my father, yeah right. I could not burden my Mom; she had too many problems of her own and was way too fragile.

							A big part of me thought it was my fault and I was really guilty for not protecting my sister. Something must have been wrong with me. Why didn’t I do something? Why did they pick us? I felt so humiliated and ashamed; just damaged goods to be thrown in the trash. That’s what I was.

							I began drinking and smoking pot almost daily. Eventually, I tried the Cocaine that was always around on the weekends and of course, I liked that too.

							With all these bottled up feelings and the way I felt about myself, I just became increasingly depressed and more and more involved with drugs and alcohol. I had terrible relationships with girls because I acted out all my anger and negativity at them.

							All of this personal trauma and drug use has led to serious Depression. I mean the kind where you do not want to get out of bed, don’t show up for things and you want to die. I actually had plans worked out in my mind.

							It is such a vicious cycle and one that has been hard to break. It is not like a linear thing where you cut to the bottom line and get rid of that one problem. It all feeds upon itself and it is very complex.

							My best advice would be “stay as far away from drugs and drinking as you can.” And if you have horrible things happen to you like I did, go find someone to talk to, fast! There are people who care. I know that now.

							Dr. Barge helped me get into a treatment center and I am doing much better. I see her a couple times a week and we usually connect by phone once or twice as well.

							It has taken me a while to trust Dr. Barge but even when the fear and distrust comes back, I see it in her eyes, I feel it. She really cares.

							Also, she knows the secret, the first one I ever told. I still hate the thought of it all and I get flashbacks but it doesn’t seem so big anymore. I also no longer believe that it’s my fault.

							I just have to work at staying away from the first drink or drug use, and keep talking about what is going on inside of me. It is hard and I have a long way to go but I am doing better than I ever thought possible and I know I don’t have to do it alone.
						</p>
					</div>
				</div>
			</div>



			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Marty, 31 & Suzanne, 27<br/></h3>
						<h5>Marital Problems/First Child

						</h5>

						<p>
							We met through mutual friends and we hit it off right from the start. We have so much in common. Out political views, religion, values, social interests could not be more alike. We also have a lot of fun together. We both love to hike, bike, ski, see movies and concerts. We even like the same music. Best of all, our communication is, or at least it was, great!

							We use to talk for hours over dinner or while taking long walks. Our wedding was one of our happiest days ever.

							Well long gone are those late night talks over a glass of Chianti or those strolls along the beach. Now it is spilled milk, dirty diapers and no sleep.

							We were so excited to be pregnant. Nobody wanted kids more than we did. We both love our little Charlie but something went terribly wrong once he arrived.

							We didn’t notice it right away; we were both tired and excited at the same time.

							We understood sleepless nights and we both know that the hormone ups and downs can be trying. But why we have started snapping and picking at each other like you wouldn’t believe, we don’t understand.

							Our comments have become more and more nasty and sarcastic. It feels like our love is turning to hate and the communication we had is gone.

							Our friends cannot believe it, us of all couples, so angry and distant.

							Dr. Barge helped us see that our “special dyad” had turned into a threesome. She helped us see that triangles are very difficult to negotiate and trying to negotiate an infant is just impossible. If a couple is not prepared for feeling the loss of emotional support and the possibility of anger and jealously that can arise, they can end up in real trouble. This was happening to us.

							With a father jealous of the attention his son is getting and yet, guilty for feeling such a thing, there is a good chance he will deny his feelings and just withdraw into work, sometimes drinking or drugs or maybe he will look elsewhere for what he used to get. Mom feeling tired, exhausted at times, not getting the help and support she needs and is used to, starts feeling abandoned and increasingly angry.

							Ignoring each other and putting each other down certainly is no solution. Now it seems silly; our feelings were just human, especially because we were not prepared for the emotional possibilities. We were prepared for everything else. Our little Charlie has everything; he is treated like a King! But we forgot to take care of ourselves, our relationship.

							Counseling has brought us closer again. Dr. Barge helped us understand what was going on and she also helped us to regain our empathy and understanding for each other. Our communication is back on track and we are very happy parents now.

							We never thought this could happen to us; it is arrogant but we thought we were above this sort of thing. It was a close call; it looks like we were well on our way to being one of those “half of all marriages” divorce statistics.
						</p>
					</div>
				</div>
			</div>



			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Fred, 43<br/></h3>
						<h5>Periodic Alcoholic

						</h5>

						<p>
							I consulted Dr. Barge when my family was at their wit’s end with me and I honestly was completely confused and demoralized (embarrassed). I just couldn’t figure it out?

							I am a Stock Broker with a successful Downtown firm. I go to work early and almost always leave work by 4:00 latest. Getting on the freeway to get to my family and beautiful home on the cliffs of Palos Verdes is something I always look forward to. But sometimes work goes over, later and it’s pointless to get onto the freeway until traffic dies down. This happens maybe once a month, at most.

							This is when my situation becomes baffling. It’s too late to get on the road, so I go with the guys for a beer or two. When traffic dies down, I get on the freeway to get home. This works out about half of the time; the other half, is a total nightmare.

							For reasons I could never explain and I still don’t completely understand, 4-5 times a year those one or two beers turned into many beers and more drinking that I don’t remember. I remember nothing after the 2nd/3rd drink. Apparently I close down the bar and take myself to [the same] seedy motel to crash for the night. In this blackout, I don’t call home. In fact, I wake up in the morning with no memory of getting there, checking-in; nothing! I remember nothing after the first 2-3 drinks.

							Well you can imagine what my wife and teenage kids think of me. They’ve been up all night calling Highway Patrol, police; worried sick. My wife had become convinced I was having an affair. Like me, they couldn’t understand it or believe it.

							Dr. Barge told me it was “alcoholism.” How could that be? I went days, weeks, without drinking or even thinking about it.

							She had to work hard to get through my resistance but she finally helped me realize that I am an alcoholic. I am powerless over alcohol, “once I ingest it.” I don’t know if I’ll have two beers and come home or wind up in that motel!

							It’s called a “Periodic” alcoholic and it all has to do with my brain’s chemical reactions to alcohol. It’s simply not predictable and it obviously does not happen to non-alcoholic people. My mother was an alcoholic but I guess I was in denial and did not want to make the genetic connection. After all, I rarely drank. Well I get it now and I no longer drink a drop of alcohol ever! It’s taken a long time for my family to trust me again but we are finally coming together.

							I am so lucky that I wasn’t robbed or killed in that motel where I ended up, on those blackout nights…
						</p>
					</div>
				</div>
			</div>


			<div class="product-inner">
				<div class="col-md-12 animate-box">
					<div class="desc">
						<h3 class="page-header">Patrick, 39<br/></h3>
						<h5>Smoker/Relationship Problems

						</h5>

						<p>
							I went to see Dr. Barge for relationship problems. I had been sober in AA for over 10 years and generally, I was a happy, functional and productive guy.

							But the relationship thing… I could not get it right to save my life. I had been married twice already.

							It was about nine months in when we approached the issue of my smoking. I’d been able to stop drinking but smoking seemed impossible. We decided to try Hypnosis.

							To the day we started, I never believed it would work.

							Trance came easy; I almost fell asleep. Not sure what Dr. Barge said, but the first thing I realized was that I no longer even noticed the smell of [other people’s] smoke. This had always been a trigger for me. Then the cigarettes began to taste bad. I found myself lighting fewer and few, and when I did light one, I found myself putting it out before it was finished. I had cut down from about 2-3 packs a day to a little less than one. We agreed to set a “quit date.”

							As the date approached, I became increasingly nervous and started to have vivid dreams. They were clearly unresolved childhood issues. In one dream, I was at a big family Holiday gathering, probably Christmas or Thanksgiving. When the turkey was brought to the table, everyone became silent because it was the size of a small cornish hen (for one). No one said a word!

							The other dream was “classic,” according to Dr. Barge but extremely uncomfortable and embarrassing to me. There will not be any details here, thank you very much. But in short, it had to do with my bowel movements and the effect on people in my life.

							Basically, I grew up in an alcoholic family and never felt there was enough love or attention to go around. We were a large Catholic family and everything revolved around my alcoholic father and his unpredictable scary moods. All of us were afraid of “setting him off.” Because of this, we kept our feelings under tight wrap!

							I never thought I would admit that I liked psychotherapy but it was fascinating to see how my dreams were informing me of my deeper problems.

							I had carried these childhood conflicts over into my relationships and my cigarettes had become part of my defense mechanism. It was not pure nicotine addiction. My cigarettes soothed me and I trusted them more than I trusted people. And because I was so fearful of expressing my feelings, I would simply put a cigarette in my mouth when I was afraid I couldn’t keep it shut!

							Who would have guessed that my smoking habit and relationship problems were so interconnected? Well, I guess Dr. Barge did or at least we figured it out together.

							I do not smoke anymore. I am not sure, if that is the best news or if it’s my seven year happy marriage. I am grateful for both.

						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}
