{% extends "base.html" %}
{% block content %}
<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
			<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?w=1600&h=1200&auto=compress&cs=tinysrgb);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 float-overlay">
							<h2>Services</h2>
							<h3>Dr. Barge provides treatment in several different areas.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END fh5co-intro-section -->
		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-user"></i>
								<div class="holder-section">
									<h3>Individual Therapy</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-heart"></i>
								<div class="holder-section">
									<h3>COUPLES/MARRIAGE COUNSELING</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-home"></i>
								<div class="holder-section">
									<h3>Family Therapy</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-glass"></i>
								<div class="holder-section">
									<h3>Addiction Treatment</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-book"></i>
								<div class="holder-section">
									<h3>Grief Counseling</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box">
							<div class="fh5co-inner fh5co-services">
								<i class="icon-road"></i>
								<div class="holder-section">
									<h3>Hypnotherapy</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
