
    <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> About</a></li>
        <li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Mission</a></li>
        <li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Community</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="about">
            <div class="media">
                <img class="pull-left media-object" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS_isWgOJHA7YNXAhKDE5h12SW2l91gIYU9YfZTisz4KItXN18U" alt="about us">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="mission">
            <div class="media">
                <img class="pull-left media-object" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS_isWgOJHA7YNXAhKDE5h12SW2l91gIYU9YfZTisz4KItXN18U" alt="Mission">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci </p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="community">
            <div class="media">
                <img class="pull-left media-object" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS_isWgOJHA7YNXAhKDE5h12SW2l91gIYU9YfZTisz4KItXN18U" alt="Community">
                <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                </div>
            </div>
        </div>
    </div>