<style>
    #footer {
    background-color: #3e4d52;
    display: inline;
    float: left;
    padding: 25px 0;
    width: 100%;
        color: #ffffff;
}
</style>
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
             <h1 class="page-header"><img class="img-responsive" src="images/ntlogo-white.png"><img></h1>
             <div class="col-md-4">
                 <p>43 Eastern Steel Road</p>
                 <p> Milford, CT 06460</p>
             </div>
             <div class="col-md-4">
                 <p>1(800) 975-7133 US</p>
                 <p>(203) 693-1112 (International)</p>
             </div>
             <div class="col-md-4">
                 <p>sales@nametailor.com</p>
                 <p>© 2016 NameTailor llc</p>
             </div>
        </div>
      </div>
    </div>
  </footer>